.list-header {
  background: $off-white;
  border: 1px solid darken($off-white, 7%);
  color: $grey;
  display: flex;
  margin-top: $s-size;
  padding: $s-size $m-size;
}

.list-header__title--1of3 {
    flex: 10%;
}

.list-header__title--2of3 {
    flex: 40%;
}

.list-header__title--3of3 {
    flex: 50%;
}

.list-body {
  margin-bottom: $m-size;
  @media (min-width: $desktop-breakpoint) {
    margin-bottom: $l-size;
  }
}

.list-item {
  border: 1px solid darken($off-white, 7%);
  border-top: none;
  color: $dark-grey;
  display: flex;
  flex-direction: column;
  padding: 0;
  text-decoration: none;
  transition: background .3s ease;
  &:hover {
    background: $off-white;
  }
  @media (min-width: $desktop-breakpoint) {
    align-items: center;
    flex-direction: row;
    padding-left: $s-size;
    padding-bottom: $s-size;
  }
}

.list-item--message {
  align-items: center;
  color: $grey;
  justify-content: center;
  padding: $m-size;
  &:hover {
    background: none;
  }
}

.list-item__title {
  margin: 0;
  word-break: break-all;
}

.list-item__sub-title {
  color: $grey;
  font-size: $font-size-small;
}

.list-item__data {
  margin: $s-size 0 0 0;
  @media (min-width: $desktop-breakpoint) {
    // margin: 0;
    // padding-left: $s-size;
  }
}

.list-item__data--1of3 {
  @media (min-width: $desktop-breakpoint) {
    flex: 10%
  }
}

.list-item__data--2of3 {
  @media (min-width: $desktop-breakpoint) {
    flex: 40%
  }
}

.list-item__data--3of3 {
  @media (min-width: $desktop-breakpoint) {
    flex: 50%
  }
}
